<header role="banner">
      <nav role="navigation">
<ul>
   {% for item in site.data.navigation.links %}
      <li><a href="{{ item.url }}" {% if item.url == page.url %} class="active"{% endif %}>{{ item.title }}</a></li>
   {% endfor %}

   {% for subject in site.data.navigation.categories %}
   <li id="menu-name">
      {{ subject.name }} : </li>
      {% for item in subject.list %}
         <li><a href="{{ item.url }}" {% if item.url == page.url %} class="active"{% endif %}>{{ item.title }}</a></li>
      {% endfor %}
   {% endfor %}
</ul>
</nav>
</header>