<br />
{%-if include.category-%} {%-assign posts = site.categories[include.category]-%}
{%-else-%} {%-assign posts = site.posts-%} {%-endif-%} {%-if include.limit and
posts.size > include.limit-%} {%-assign limit_exceeded = true-%} {%-else-%}
{%-assign limit_exceeded = false-%} {%-endif-%} {%- if posts.size > 0 -%} {%-
for post in posts limit: include.limit -%}

<div id="card-container" class="col-sm">
  <div id="card" class="row">
    <div class="col-sm-auto">
      <p class="text-muted">
        {{- post.date | date: site.theme_config.date_format -}}
      </p>
    </div>
    <div class="col">
      <a href="{{ post.url | relative_url }}" id="card-title"
        >{{ post.title | downcase }}</a
      >
      <p class="text-muted">{{ post.description }}</p>
      {% for tag in post.tags %}
      <a href="#" id="tag-badge">{{tag}}</a>
      {% endfor %}
    </div>
  </div>
</div>
{%- endfor -%} {%- if include.show_more and limit_exceeded -%}
<br />

{%- endif -%} {%- endif -%}

<div style="text-align: right">
  <a href="{{ include.show_more_url }}">
    {{ include.show_more_text | default: "Show more..." }}
    <i class="bi bi-arrow-right-circle-fill"></i>
  </a>
</div>
