<br />
{%-if include.category-%} {%-assign posts = site.categories[include.category]-%}
{%-else-%} {%-assign posts = site.posts-%} {%-endif-%} {%-if include.limit and
posts.size > include.limit-%} {%-assign limit_exceeded = true-%} {%-else-%}
{%-assign limit_exceeded = false-%} {%-endif-%} {%- if posts.size > 0 -%} {%-
for post in posts limit: include.limit -%}
<!-- {{ post.url | relative_url }} -->

<li style="font-family: 'Courier New', Courier, monospace">
  {{- post.date | date: site.theme_config.date_format -}} ·
  <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
  <br />
</li>

{%- endfor -%} {%- if include.show_more and limit_exceeded -%}
<br />

{%- endif -%} {%- endif -%}

<a href="{{ include.show_more_url }}">
  {{ include.show_more_text | default: "Show more..." }}
  <i class="bi bi-arrow-right-circle-fill"></i>
</a>
