*,
:after,
:before {
  box-sizing: border-box;
  background-color: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  line-height: 1.5;
  font-size: 1rem;
  color: rgb(22, 23, 26);
}

nav ul {
  border-right: 1px solid #edf2f7;
}

a {
  color: #000;
  text-decoration-skip-ink: auto;
  text-decoration: underline;
}

.post p {
  margin: 0.5rem 0;
}

.post .title {
  font-size: 2.4rem;
  font-weight: 400;
}

.post h2:first-child,
.project h2:first-child,
.photo h2:first-child {
  margin-top: 0;
}

code,
pre {
  background: rgb(236, 237, 238);
  font-family: "Courier", Courier, monospace;
}

code {
  padding: 0.1rem;
}

pre code {
  border: none;
}

pre {
  padding: 1rem;
  overflow-x: auto;
}

img {
  max-width: 100%;
}

hr {
  background: #c0c0c0;
  height: 1px;
  border: 0;
}

header {
  flex-basis: 10rem;
  flex-grow: 1;
  position: relative;
}

header a {
  text-decoration: none;
}

header li {
  margin-bottom: 0.2rem;
  text-align: left;
  margin-right: 2rem;
}

#menu-name {
  color: #0078d7;
}

header a.active {
  font-weight: bold;
}

header,
section {
  padding: 1rem;
}

blockquote {
  font-style: italic;
  border-left: 5px solid #ececec;
  padding-left: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 1rem 0;
}

h1,
h2 {
  font-weight: 400;
}

h3,
h4,
h5 {
  font-weight: bold;
}

h1 {
  line-height: 2;
  border-bottom: 1px solid #c0c0c0;
}

section h1:first-child {
  margin-top: 0;
}

strong,
b {
  font-weight: bold;
}

.photos ul {
  list-style: none;
}

.photos li {
  margin-bottom: 1.5rem;
}

.photo picture,
.project picture {
  margin-bottom: 0.5rem;
}

.posts ul,
header ul {
  list-style: none;
}

.posts li {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.posts li a,
.posts li div,
.projects li a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
}

.posts li time,
.projects li time {
  padding-left: 1rem;
  white-space: nowrap;
  font-variant-numeric: tabular-nums;
}

.post ul,
.project ul,
.post ol {
  list-style-position: inside;
  padding-left: 1rem;
}

main {
  display: flex;
  flex-wrap: wrap;
  max-width: 60rem;
  margin: 2rem auto;
  padding: 1rem;
}

@media screen and (max-width: 45rem) {
  header li {
    display: inline;
    margin-right: 1rem;
  }
  .logo {
    padding-bottom: 1rem;
  }
  header ul {
    border-bottom: 1px solid #edf2f7;
    padding-bottom: 2rem;
  }
  nav ul {
    border-right: 0px;
  }

  .photos ul {
    margin-top: 0.5rem;
  }
}

section {
  flex-basis: 0;
  flex-grow: 999;
  min-width: 70%;
  display: flex;
  flex-direction: column;
}

figcaption {
  font-size: smaller;
}

// 다중 이미지 슬라이더
#scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 0px;
}

#scrolling-image {
  display: inline-block;
}

#scrolling-image img {
  width: 200px;
}

// syntax highlight from minimal-reboot
// - https://github.com/aterenin/minima-reboot/blob/master/_sass/minima-reboot/_syntax-highlighting.scss
.highlight {
  .c {
    color: #998;
    font-style: italic;
  } // Comment
  .err {
    color: #a61717;
    background-color: #e3d2d2;
  } // Error
  .k {
    font-weight: bold;
  } // Keyword
  .o {
    font-weight: bold;
  } // Operator
  .cm {
    color: #998;
    font-style: italic;
  } // Comment.Multiline
  .cp {
    color: #999;
    font-weight: bold;
  } // Comment.Preproc
  .c1 {
    color: #998;
    font-style: italic;
  } // Comment.Single
  .cs {
    color: #999;
    font-weight: bold;
    font-style: italic;
  } // Comment.Special
  .gd {
    color: #000;
    background-color: #fdd;
  } // Generic.Deleted
  .gd .x {
    color: #000;
    background-color: #faa;
  } // Generic.Deleted.Specific
  .ge {
    font-style: italic;
  } // Generic.Emph
  .gr {
    color: #a00;
  } // Generic.Error
  .gh {
    color: #999;
  } // Generic.Heading
  .gi {
    color: #000;
    background-color: #dfd;
  } // Generic.Inserted
  .gi .x {
    color: #000;
    background-color: #afa;
  } // Generic.Inserted.Specific
  .go {
    color: #888;
  } // Generic.Output
  .gp {
    color: #555;
  } // Generic.Prompt
  .gs {
    font-weight: bold;
  } // Generic.Strong
  .gu {
    color: #aaa;
  } // Generic.Subheading
  .gt {
    color: #a00;
  } // Generic.Traceback
  .kc {
    font-weight: bold;
  } // Keyword.Constant
  .kd {
    font-weight: bold;
  } // Keyword.Declaration
  .kp {
    font-weight: bold;
  } // Keyword.Pseudo
  .kr {
    font-weight: bold;
  } // Keyword.Reserved
  .kt {
    color: #458;
    font-weight: bold;
  } // Keyword.Type
  .m {
    color: #099;
  } // Literal.Number
  .s {
    color: #d14;
  } // Literal.String
  .na {
    color: #008080;
  } // Name.Attribute
  .nb {
    color: #0086b3;
  } // Name.Builtin
  .nc {
    color: #458;
    font-weight: bold;
  } // Name.Class
  .no {
    color: #008080;
  } // Name.Constant
  .ni {
    color: #800080;
  } // Name.Entity
  .ne {
    color: #900;
    font-weight: bold;
  } // Name.Exception
  .nf {
    color: #900;
    font-weight: bold;
  } // Name.Function
  .nn {
    color: #555;
  } // Name.Namespace
  .nt {
    color: #000080;
  } // Name.Tag
  .nv {
    color: #008080;
  } // Name.Variable
  .ow {
    font-weight: bold;
  } // Operator.Word
  .w {
    color: #bbb;
  } // Text.Whitespace
  .mf {
    color: #099;
  } // Literal.Number.Float
  .mh {
    color: #099;
  } // Literal.Number.Hex
  .mi {
    color: #099;
  } // Literal.Number.Integer
  .mo {
    color: #099;
  } // Literal.Number.Oct
  .sb {
    color: #d14;
  } // Literal.String.Backtick
  .sc {
    color: #d14;
  } // Literal.String.Char
  .sd {
    color: #d14;
  } // Literal.String.Doc
  .s2 {
    color: #d14;
  } // Literal.String.Double
  .se {
    color: #d14;
  } // Literal.String.Escape
  .sh {
    color: #d14;
  } // Literal.String.Heredoc
  .si {
    color: #d14;
  } // Literal.String.Interpol
  .sx {
    color: #d14;
  } // Literal.String.Other
  .sr {
    color: #009926;
  } // Literal.String.Regex
  .s1 {
    color: #d14;
  } // Literal.String.Single
  .ss {
    color: #990073;
  } // Literal.String.Symbol
  .bp {
    color: #999;
  } // Name.Builtin.Pseudo
  .vc {
    color: #008080;
  } // Name.Variable.Class
  .vg {
    color: #008080;
  } // Name.Variable.Global
  .vi {
    color: #008080;
  } // Name.Variable.Instance
  .il {
    color: #099;
  } // Literal.Number.Integer.Long
}

#post-link a {
  font-size: 1.2rem;
}

#post-link a:hover {
  text-decoration: underline;
}

.text-muted {
  color: #555555;
}
