@charset "utf-8";

/* for specific category page */
.category-title {
  font-size: 1.5em;
  font-weight: black;
}

.category-list {
  line-height: 24px;
}

/* for categories page */
.categories-title {
  text-align: center;
}

.categories-list {
  line-height: 24px;
}
