@charset "utf-8";

.highlight > pre, pre.highlight {
  padding: 10px;
  line-height: 18px;
  overflow-x: auto;
  font-size: 14px;
  background-color: #f0f0f0;
}

.highlighter-rouge {
  font-size: 14px;
  padding: 5px;
  background-color: #f0f0f0;
  border-radius: 8px;
}
