// -------------- THEME SWITCHER -------------- //
@mixin dark-appearance {
  filter: invert(1);
  img {
    filter: invert(1);

    &.ioda {
      filter: invert(0);
    }
  }
}

body[a="dark"] {
  @include dark-appearance;
}

@media (prefers-color-scheme: dark) {
  body[a="auto"] {
    @include dark-appearance;
  }
}
// -------------------------------------------- //

// bg color is also needed in html in order to
// block body's background propagation
// see: https://stackoverflow.com/a/61265706
html,
body {
  background: white;
}

html {
  height: 100%;
}

body {
  color: #37352f;
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
  overflow-wrap: break-word;
}

.post-meta {
  color: #979a9b;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 3rem;
}

hr {
  border: 0.5px solid #979a9b;
  margin: 1rem 0;
}

p {
  margin: 1rem 0;
}

a {
  color: #1b64da;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

li {
  margin: 0.4rem 0;
}

*:target {
  background: yellow;
}

.w {
  max-width: 768px;
  margin: 0 auto;
  padding: 1rem;
}

table {
  width: 100%;
}

table,
th,
td {
  border: thin solid black;
  border-collapse: collapse;
  padding: 0.4rem;
}

code {
  padding: 0.2rem;
  background: #f0f0f0;
  border-radius: 0.5rem;
  font-size: 0.9em;
  font-family: "Consolas", monaco, monospace;
}

div.highlighter-rouge code {
  display: block;
  overflow-x: auto;
  white-space: pre-wrap;
  padding: 1rem;

  .c,
  .cm,
  .c1,
  .cs {
    color: #408080;
  }
  .k,
  .kc,
  .kd,
  .kn,
  .kp,
  .kr,
  .sx,
  .bp,
  .nt,
  .nb {
    color: #008000;
  }
  .o,
  .m,
  .mf,
  .mh,
  .mi,
  .mo,
  .il {
    color: #666666;
  }
  .cp {
    color: #bc7a00;
  }
  .gd {
    color: #a00000;
  }
  .gr {
    color: #ff0000;
  }
  .gh,
  .gp {
    color: #000080;
  }
  .gi {
    color: #00a000;
  }
  .go {
    color: #808080;
  }
  .gu {
    color: #800080;
  }
  .gt {
    color: #0040d0;
  }
  .kt {
    color: #b00040;
  }
  .na {
    color: #7d9029;
  }
  .no {
    color: #880000;
  }
  .nd,
  .ow {
    color: #aa22ff;
  }
  .ni {
    color: #999999;
  }
  .ne {
    color: #d2413a;
  }
  .nc,
  .nf,
  .nn {
    color: #0000ff;
  }
  .nl {
    color: #a0a000;
  }
  .w {
    color: #bbbbbb;
  }
  .s,
  .sb,
  .sc,
  .sd,
  .s2,
  .sh,
  .s1 {
    color: #ba2121;
  }
  .se {
    color: #bb6622;
  }
  .si,
  .sr {
    color: #bb6688;
  }
  .ss,
  .vs,
  .vg,
  .vi,
  .nv {
    color: #19177c;
  }
  .c,
  .cm,
  .c1,
  .cs,
  .ge,
  .sd {
    font-style: italic;
  }
  .k,
  .kc,
  .kd,
  .kn,
  .kr,
  .gh,
  .gp,
  .gs,
  .gu,
  .nc,
  .ni,
  .ne,
  .nn,
  .nt,
  .ow,
  .se,
  .si {
    font-weight: bold;
  }
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  border-radius: 0.5rem;
  border: 1px solid #f0f0f0;
}

// bootstrap custom
.text-muted {
  margin: 0.5rem 0;
  font-size: 0.9rem;
}

// utterances custom
.utterances {
  max-width: 1024px;
}

// custom
#header_navbar_container {
  padding: 1rem 0;
  background-color: #ffffff;
  border-bottom: 1px solid #f0f0f0;
}

#header_navbar {
  max-width: 768px;
}

#header_navbar a {
  color: #363636;
  text-decoration: none;
}

#project-icon {
  width: 64px;
  height: 64px;
  border-radius: 16px;
}

#project-description a {
  font-size: 0.9rem;
}
