---
layout: default
---

<header>
  <h1>{{ site.title }}</h1>
  {%-if site.theme_config.show_description-%}
  <p>{{ site.description }}</p>
  {%-endif-%}
</header>

{%-include menu_item.html collection=site.data.menu.entries-%}

<ul>
  프로젝트
  <li>CHECKED <span class="badge text-bg-primary">운영중</span></li>
  <li>SPELL.TEAM <span class="badge text-bg-warning">준비중</span></li>
  <li>STYLEHERO <span class="badge text-bg-secondary">서비스 종료</span></li>
  <li>HUGG.KR <span class="badge text-bg-secondary">서비스 종료</span></li>
</ul>

{{ content }}
