---
layout: default
---

<header>
  <h1>{{ site.title }}</h1>
  {%-if site.theme_config.show_description-%}
  <p>{{ site.description }}</p>
  {%-endif-%}
</header>

{%-include menu_item.html collection=site.data.menu.entries-%}

<ul>
  프로젝트
  <li>
    <img
      src="https://user-images.githubusercontent.com/34812887/179240606-44864c2e-73ea-48d1-9379-edc7375a4a92.png"
      width="16"
    />
    CHECKED
    <span class="badge text-bg-primary">운영중</span>
    <a
      href="https://hanarotg.github.io/others/checked/"
      class="badge text-bg-secondary"
      >공식 사이트</a
    >
  </li>
  <li>
    <img
      src="https://user-images.githubusercontent.com/34812887/179240836-f0fe174e-b4cb-4cba-b14b-a56804293e71.png"
      width="16"
    />SPELL.TEAM
    <span class="badge text-bg-warning">준비중</span>
  </li>
  <li>STYLEHERO <span class="badge text-bg-secondary">서비스 종료</span></li>
  <li>HUGG.KR <span class="badge text-bg-secondary">서비스 종료</span></li>
</ul>

{{ content }}
