---
layout: default
---

<!-- {%-include back_link.html-%} -->

<p class="post-meta">
  <time datetime="{{ page.date }}"
    >{{ page.date | date: site.theme_config.date_format }}</time
  >
</p>

<h1>{{ page.title }}</h1>
<article>
  <br />
  {% for tag in page.tags %}
  <a href="#" id="tag-badge">{{tag}}</a>
  {% endfor %}

  <div style="max-width: 768px; margin: auto">
    <hr />
    <p>{{ page.description}}</p>

    {{ content }}

    <br />
    <p class="text-muted">댓글을 남겨주세요.</p>
    <script
      src="https://utteranc.es/client.js"
      repo="hanarotg/hanarotg.github.io"
      issue-term="pathname"
      theme="preferred-color-scheme"
      crossorigin="anonymous"
      async
    ></script>
  </div>
</article>
