---
layout: default
---

<section class="post">
  <span class="meta"
    ><time datetime="{{ page.date | date_to_xmlschema }}"
      >{{ page.date | date: "%B %-d, %Y" }}</time
    >
    &middot; {% for tag in page.tags %} <a href="/tag/{{tag}}">{{tag}}</a>{%
    unless forloop.last %}, {% endunless %}{% endfor %}</span
  >
  <p class="title">{{ page.title }}</p>

  {{ content }}

  <script
    src="https://utteranc.es/client.js"
    repo="hanarotg/hanarotg.github.io"
    issue-term="pathname"
    theme="github-light"
    crossorigin="anonymous"
    async
  ></script>
</section>
